@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

.header {
  background-color: black;
  padding: 22px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  gap: 40px;
  align-items: center;
  text-align: left;
}

.navLink {
  text-decoration: none;
  color: #7f00ffff;
  font-size: 23px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.navLink:hover {
  color: #e100ffff;
}

.nav2 {
  display: flex;
  width: 5vW;
  padding-right: 35px;
}

.navLink2 {
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav_logo {
  display: flex;
  width: 5vw;
  padding-left: 35px;
}

.navLink_logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header .nav {
  justify-content: center;
}

.cart {
  background-color: black;
  width: 35px;
}
